<!DOCTYPE html>

{% load staticfiles %} <!-- New Line -->

<html>

    <head>
        <title>About the Matrix.</title>
    </head>
<BODY BGCOLOR="#ffffff"
LINK="blue" VLINK="green" ALINK="red">

<FONT FACE="Arial">

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0" align="left">&nbsp;<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0" align="left">
<font size="2">The Matrix is the system used by <I>foreign</I> forces operating on
this planet, so as to accelerate spiritual choices of each individual
on Earth without violating their free will.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">They use terrestrial shapes to live as characters among us - in disguise -
infiltrated in society, behaving exactly like terrestrial humans do.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">Earth is already under <I>foreign</I> Intervention in a disguised manner,
since several decades ago.<BR>

</font>

<a name="doubletalk"><font size="2"></font></a>
<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">&nbsp;<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">The Matrix is a system of control based on thought reading, on the
Pavlovian association of ideas and on the manipulation of language and
<U>doubletalk</U>.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">It is also based on subliminal techniques of control that "fishes"
from your mind trivial answers about your ordinary life that your
manipulators already know.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">It intentionally explores mathematical similarities between your life
and the very lives of the Intelligences behind the masks.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">It produces feelings of self-pity by artificially creating elements
that have a strong similarity with aspects of your past.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">It uses the structure of the human memory - that organizes similar
information in different stacks and puts them on top of each other - to
generate a bubble-like sensation on the mind of the targeted persons,
through the association of ideas between their very lives and the elements
(words, ideas, facts, events, experiences, traumas) that are on top of your
memory stacks.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">It projects artificially images during the night inside your dreams,
manipulating symbols and archetypes.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">It manipulates - and sometimes distorts - present society values
(like money, sex, success, fame, intellectual recognition,
and professional fulfillment, among others) in order to generate in your
mind "dreams" that you have never imagined you'd have.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">It is a system apparently designed to suppress from your heart the true
feeling of Love, in order to induce you to "lose your soul". However, if
you succeed in always following your heart, you end spiritualizing yourself
more and more and can eventually awake your kundalini energy and enlighten
yourself.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">The Matrix is a system that shapes realities around you based on your own
feelings, fears, desires, expectations, beliefs, emotions and thoughts.<BR>

</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">It is an interactive system that updates dynamically new ideas depending
on your responses to the previous ones.  It is a system that is constantly
working over exceptions, apparently trying to find a glitch in your beliefs.
</font>

<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<blockquote>
	<p style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0" align="left">
	<font size="2">"This is the world that you know.<BR>It exists now only as part
of a neural interactive simulation,<BR>that we call 'the Matrix'"/<BR></font><b>
	<font size="1">(Morpheus to Neo, in "The Matrix")</font></b></p>
</blockquote>


<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">It tries to deconstruct your own beliefs and
turn them against you, by using elements that have a strong mathematical
similarity with the elements that are comprised in your beliefs. 

</font>
<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">&nbsp;<P style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">However, if you dive deeply into yourself, you'll find out that True Love
is stronger than the Matrix system of control.  True Love is not based on
the similarity or difference between elements.<BR></font><center>
<p style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">(...) "He got the action, he got the motion,<BR>
Oh yeah, the boy can play<BR>
Dedication, devotion<BR>
Turning all the time night into the day;<BR>
He do the song about the sweet lovin' woman<BR>
He do the song about the knife<BR>
He do the walk, he do the walk of life<BR><BR>
(...) And after all the violence and
<a href="keywords.htm" tppabs="http://www.geocities.com/freeyourbrain/keywords.htm">DOUBLE TALK</a><BR>
There's just a song in the trouble and the strife<BR>
He do the walk, he do the walk of life"<BR><BR>
</font><font size="1"><b>("Walk of Life", 1985 - Dire Straits)<BR>
</b></font></p>
</center>

&nbsp;<center>
<p style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0">
<font size="2">(...) "All 'round the world<BR>
Little children being born to the world<BR>
Got to give them all we can,
till 
<a tppabs="http://www.geocities.com/freeyourbrain/alien.htm#Part 8" target="_blank" href="alien.htm#Part 8"><U>THE WAR</U></a> is won,
<BR>
Then will the work be done<BR><BR>

Help them to learn<BR>
Songs of joy instead of
<a tppabs="http://www.geocities.com/freeyourbrain/keywords.htm#fire definition" target="_blank" href="keywords.htm#fire definition">burn, baby, burn</a>,<BR>
Let us show them how to play the pipes op peace,<BR>
Play, the pipes of peace<BR><BR>

(...) What do you say ?<BR>
Will the human race be run in a day ?<BR>
Or will someone save this planet we're
playing on ?<BR>
Is it the only one ?
(what are we gonna do ?)" " <BR><BR>
                        
</font><font size="1"><b>("Pipes of Peace", 1984 - Paul McCartney)<BR></b>
</font><font size="2"><BR>

</font></p>
</center>

<h5 style="margin-left: 80px; margin-right: 10px; margin-top: 0; margin-bottom: 0" align="left">
<span style="font-weight: 400">NOTE : "The war" above is the secret war between <I>foreign</I> groups
operating in disguise on the surface of Earth, living as characters and
masquerading as terrestrials humans :
a 
<a tppabs="http://www.geocities.com/freeyourbrain/alien.htm#Part 8" target="_blank" href="alien.htm#Part 8">spiritual war</a>
that takes place in the hearts and minds of individuals living on Earth.
The song was written in 1984.<BR><BR></span><b><font size="2"><a href="index.htm#Contents_"><font color="#0000DD">
Back to Contents</font></a></font></b></h5>

  <img src="/media/staywoke.jpg" alt="Picture of Neo" /> <!--New Line --> </br>

</FONT>
</body>

</html>
